.text-center
  %h1= "Prensa"
  %hr.sep
  - if can? :create, Press
    .space
    .col-xs-12.col-sm-5.col-sm-offset-1
      %span.btn-block= link_to "Nueva torta en Prensa", new_press_url
    .col-xs-12.col-sm-5
      %span.btn-block= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete)
    .clearfix
  - if @presses.total_pages > 1
    .apple_pagination
      = will_paginate @presses, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
  .cakes
    - @presses.each_with_index do |c, index|
      = render partial: 'item', locals: {c: c, index: index}
    = render "layouts/modal"
  .clearfix
  - if @presses.total_pages > 1
    .apple_pagination
      = will_paginate @presses, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
