<div class="cake col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <%= link_to c, remote: true do %>
    <%= image_tag(c.image.url(:small)) %>
  <% end %>
  <div class="cake_info">
    <h4>
      <%= link_to(c.name, c, remote: true) %>
    </h4>
    <%= link_to c, remote: true do %>
      <h5>
        <%= "Código: " + c.code %>
      </h5>
    <% end %>
  </div>
</div>
<% if(((index + 1)%4).zero? && ((index + 1)%3).zero?) %>
  <div class="clearfix"></div>
<% elsif(((index + 1)%2).zero? && ((index + 1)%3).zero?) %>
  <div class="clearfix visible-sm visible-md"></div>
<% elsif(((index + 1)%4).zero?) %>
  <div class="clearfix visible-sm visible-lg"></div>
<% elsif(((index + 1)%3).zero?) %>
  <div class="clearfix visible-md"></div>
<% elsif(((index + 1)%2).zero?) %>
  <div class="clearfix visible-sm"></div>
<% end %>
