.text-center
  %h1 Cúpulas
  %hr.sep
  .col-sm-3
    %span.btn-block= link_to "Tortas Decoradas", cakes_url(menu: "decoradas")
  .col-sm-3
    %span.btn-block= link_to "Tortas de Novios", cakes_url(menu: "novios")
  .col-sm-3
    %span.btn-block= link_to "Tortas Tradicionales", cakes_url(menu: "tradicionales")
  .col-sm-3
    %span.btn-block= link_to "Cupcakes", cakes_url(menu: "cupcakes")
  .clearfix
  - if can? :create, WeddingTopping
    .space
    .col-xs-12.col-sm-5.col-sm-offset-1
      %span.btn-block= link_to "Nueva Cúpula", new_wedding_topping_url
    .col-xs-12.col-sm-5
      %span.btn-block= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete)
    .clearfix
  .submenu
    - @submenu.each do |key, value|
      %span.block= link_to value, subcategory_url(menu: @menu, subcategory: key)
    %span.block= link_to "Cake Mapping", cakemapping_url
    %span.block.important_block= link_to "Cúpulas", wedding_toppings_url
  .clearfix
  - if @wedding_toppings.total_pages > 1
    .apple_pagination
      = will_paginate @wedding_toppings, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
  .cakes
    - @wedding_toppings.each_with_index do |c, index|
      = render partial: 'item', locals: {c: c, index: index}
    = render "layouts/modal"
  .clearfix
  - if @wedding_toppings.total_pages > 1
    .apple_pagination
      = will_paginate @wedding_toppings, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
