<div class="cake-modal col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
    <%= fa_icon "times", class: "fa-2x" %>
  </button>
  <div class="clearfix"></div>
  <%= image_tag(@cake.image.url(:medium)) %>
  <h5>
    <%= @cake.name %>
  </h5>
  <h6>
    Código: <%= @cake.code %>
  </h6>
  <% if @cake.description %>
    <h6>
      <%= @cake.description %>
    </h6>
  <% end %>
  <% if @cake.includes_couple %>
    <p>Incluye pareja de novios</p>
  <% end %>
  <% if @cake.minimum_portions > 0 %>
    <p>Porciones mínimas: <%= @cake.minimum_portions %></p>
    <p>Precio por porción: $<%= @cake.portion_price %></p>
  <% else %>
    <% unless @cake.category == "cupcakes" %>
      <% @cake.prices.each do |p| %>
        <p><%= p.portions%> personas: $<%= p.price %></p>
      <% end %>
    <% else %>
      <p>Precio unitario: $<%= @cake.prices[0].price %></p>
      <p>Precio por docena $<%= @cake.prices[1].price %></p>
    <% end %>
  <% end %>
  <% if @cake.warranty > 0 %>
    <p>Garantia: $<%= @cake.warranty %></p>
  <% end %>
</div>
