= simple_form_for @cake do |f|
  .row.text-center
    .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1
      .col-xs-12.col-sm-5.col-sm-offset-1
        = f.input :code, label: "Código"
      .col-xs-12.col-sm-5.col-sm-offset-0
        = f.input :image, as: :file, label: "Imágen", placeholder: "Subir imagen"
      .clearfix
      = f.input :name, label: "Nombre"
      .col-xs-12.col-sm-5.col-sm-offset-1
        = f.input :category, collection: ['decoradas', 'novios', 'tradicionales', 'cupcakes', 'coctel', 'postres', 'pies', 'chocolateria', 'galletones'], label_method: lambda { |x| "#{x.capitalize}".html_safe }, :label => false, include_blank: false, label: "Categoría"
      .col-xs-12.col-sm-5.col-sm-offset-0
        = f.input :popularity, label: "Popularidad"
      .clearfix
      = f.input :tag_list, collection: @cake.tags.map { |t| t.name }, input_html: { class: 'tags', multiple: "multiple" }
    .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0
      .col-xs-12.col-sm-5.col-sm-offset-1
        = f.input :minimum_portions, label: "Porciones mínimas", hint: "Dejar en 0 sino aplica"
      .col-xs-12.col-sm-5.col-sm-offset-0
        = f.input :portion_price, label: "Precio por porción", hint: "Dejar en 0 sino aplica"
      .clearfix
      .col-xs-12.col-sm-5.col-sm-offset-1
        = f.input :includes_couple, label: "Incluye novios", hint: "Dejar desmarcado sino aplica"
      .col-xs-12.col-sm-5.col-sm-offset-0
        = f.input :warranty, label: "Garantía", hint: "Dejar en 0 sino aplica"
      .clearfix
      = f.input :description, label: "Descripción adicional"
    .clearfix
    #prices.col-xs-12.col-sm-12
      = f.simple_fields_for :prices do |price|
        = render 'price_fields', f: price
      .links
        .col-xs-12.col-sm-6
          = link_to_add_association 'Agregar Precio', f, :prices, class: 'btn-block form-button'
        .col-xs-12.col-sm-6
          = f.submit "Enviar", class: 'btn-block form-button'
:javascript
  $('.tags').select2({
      theme: "bootstrap",
      tags: true,
      tokenSeparators: [',']
  });
