<h1><%= @title %></h1>
<hr class="sep"/>
<div class="actions">
  <%= link_to 'Tortas Decoradas', cakes_url(menu: 'decoradas'), class: 'btn' %>
  <%= link_to 'Tortas de Novios', cakes_url(menu: 'novios'), class: 'btn' %>
  <%= link_to 'Tortas Tradicionales', cakes_url(menu: 'tradicionales'), class: 'btn' %>
  <%= link_to 'Cupcakes', cakes_url(menu: 'cupcakes'), class: 'btn' %>
  <%= link_to 'Cóctel', cakes_url(menu: 'coctel'), class: 'btn' %>
  <%= link_to 'Postres', cakes_url(menu: 'postres'), class: 'btn' %>
</div>
<h1>¡Las más populares!</h1>
<hr class="sep"/>
<div class="grid">
  <% @most_popular.each_with_index do |item, index| %>
    <div
      class="grid__item"
      @click="openModal(<%= {
        name: item.name,
        image_url: item.image.url(:large),
        code: item.code,
        description: item.description,
        prices: item.prices.map { |p| "#{p.portions} personas: $#{p.price}" }
      }.to_json %>)"

    >
      <%= image_tag(item.image.url(:small), class: 'grid-item__image') %>
      <h4 class="grid-item__label"><%= item.name %></h4>
      <h5 class="grid-item__label">Codigo: <%= item.code %></h5>
      <h6 class="grid-item__label">(Pinche la imagen para ver los precios)</h6>
    </div>
  <% end %>
</div>

<h1>¡Nuevas Tortas!</h1>
<hr class="sep"/>
<div class="grid">
  <% @newest.each_with_index do |item, index| %>
    <div
      class="grid__item"
      @click="openModal(<%= {
        name: item.name,
        image_url: item.image.url(:large),
        code: item.code,
        description: item.description,
        prices: item.prices.map { |p| "#{p.portions} personas: $#{p.price}" }
      }.to_json %>)"
    >
      <%= image_tag(item.image.url(:small), class: 'grid-item__image') %>
      <h4 class="grid-item__label"><%= item.name %></h4>
      <h5 class="grid-item__label">Codigo: <%= item.code %></h5>
      <h6 class="grid-item__label">(Pinche la imagen para ver los precios)</h6>
    </div>
  <% end %>
</div>
