.text-center
  = render 'layouts/catalog_header'
  .submenu
    - @submenu.each do |key, value|
      %span.block= link_to value, subcategory_url(menu: @menu, subcategory: key)
    - if @menu == "novios"
      %span.block= link_to "Cake Mapping", cakemapping_url
      %span.block.important_block= link_to "Cúpulas", wedding_toppings_url
  .clearfix
  .apple_pagination
    = will_paginate @cakes, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
  .cakes
    - @cakes.each_with_index do |c, index|
      = render partial: 'item', locals: {c: c, index: index}
    = render "layouts/modal"
  .clearfix
  .apple_pagination
    = will_paginate @cakes, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
