.text-center
  = render 'layouts/catalog_header'
  .clearfix
  .space
  - if @cakes.total_pages > 1
    .apple_pagination
      = will_paginate @cakes, container: false, previous_label: 'Anterior', next_label: 'Siguiente', inner_window: 2, outer_window: 1
  - if @cakes.size > 0
    .cakes
      - @cakes.each_with_index do |c, index|
        = render partial: 'item', locals: {c: c, index: index}
      = render "layouts/modal"
  - else
    %h1.text-center La búsqueda no produjo resultados
    .space
  .clearfix
  - if @cakes.total_pages > 1
    .apple_pagination
      = will_paginate @cakes, container: false, previous_label: 'Anterior', next_label: 'Siguiente', inner_window: 2, outer_window: 1
