<div class="cake col-xs-12 text-center">
  <div class="space"></div>
  <%= image_tag(@cake.image.url(:large)) %>
  <div class="cake_info">
    <h5>
      <%= @cake.name %>
    </h5>
    <h6>
      <%= "Código: " + @cake.code %>
    </h6>
    <% if @cake.description %>
      <h6>
        <%= @cake.description %>
      </h6>
    <% end %>
    <% if @cake.includes_couple %>
      <p>Incluye pareja de novios</p>
    <% end %>
    <% if @cake.minimum_portions > 0 %>
      <p>Porciones minimas: <%= @cake.minimum_portions %></p>
      <p>Precio por porcion: $<%= @cake.portion_price %></p>
    <% else %>
      <% @cake.prices.each do |p| %>
        <p><%= p.portions %> personas: $<%= p.price %></p>
      <% end %>
    <% end %>
    <% if @cake.warranty > 0 %>
      <p>Garantia: $<%= @cake.warranty %></p>
    <% end %>
  </div>
</div>
