- if can? :create, Cake
  .space
  .col-xs-12.col-sm-5.col-sm-offset-1
    %span.btn-block= link_to "Nueva Torta o Cupcake", new_cake_url
  .col-xs-12.col-sm-5
    %span.btn-block= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete)
  .clearfix
.cake.col-xs-12.text-center
  .space
  = image_tag(@cake.image.url(:large))
  .cake_info
    %h5= @cake.name
    %h6= "Código: " + @cake.code
    -if @cake.description
      %h6= @cake.description
    - if @cake.includes_couple
      %p Incluye pareja de novios
    - if @cake.minimum_portions > 0
      %p Porciones mínimas: #{@cake.minimum_portions}
      %p Precio por porción: $#{@cake.portion_price}
    - else
      - @cake.prices.each do |p|
        %p #{p.portions} personas: $#{p.price}
    - if @cake.warranty > 0
      %p Garantía: $#{@cake.warranty}
