.row.promos
  .col-xs-12.col-sm-4
    = image_tag("fiestas_patrias.jpeg", class: 'promo-image max-width')
  .col-xs-12.col-sm-4
    = link_to(image_tag("promo_decoradas.jpg", class: 'promo-image max-width'), cakes_url(menu: "decoradas"))
  .col-xs-12.col-sm-4
    = link_to(image_tag("promo_prensa.jpg", class: 'promo-image max-width'), presses_url)
.clearfix
.col-xs-12.col-sm-4.col-lg-2.col-lg-offset-1
  .space
  %p.text-center
    = link_to(image_tag("button_0.jpg"), companies_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_1.jpg"), wedding_toppings_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_2.jpg"), cakes_url(menu: "cupcakes"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_3.jpg"), cakes_url(menu: "tradicionales"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_press.jpg"), presses_url, class: "index-button")
.clearfix
.clear
.space
:javascript
  function cycleImages(){
  var images = $('#carrousel span'),
  now    = images.filter(':visible'),
  next   = now.next().length ? now.next() : images.first(),
  speed  = 1500;
  now.fadeOut(speed);
  next.fadeIn(speed);
  }
  $(function() {
  setInterval(cycleImages, 4000);
  });
