.col-sm-6.col-lg-4.col-lg-offset-1
  .space
  = image_tag("big_promo_1.jpg", class: "promo-image")
#welcome_info.col-xs-12.col-sm-6
  .space
  %p
    Pastelería Art-Torta se especializa en
    = link_to('tortas decoradas', cakes_url(menu: "decoradas"))
    ,
    = link_to('tortas de novios', cakes_url(menu: "novios"))
    y
    = link_to('cupcakes', cakes_url(menu: "cupcakes"))
    \. Nuestro objetivo es crear en tu torta un modelo único y personalizado. Las grandes Empresas, los canales de televisión y sobre todo la gran cantidad de clientes que nos han elegido durante estos 16 años, nos han convertido en la pastelería de los grandes eventos de nuestro país.
  %p
    Visita la
    = link_to('mayor variedad de tortas', catalog_url)
    que puedas encontrar y disfruta de nuestros
    = link_to('nuevos modelos', catalog_url) + "."
  .hidden-xs.col-sm-6
    = image_tag("big_promo_2.jpg", class: "promo-image")
  .hidden-xs.col-sm-6
    = image_tag("big_promo_3.jpg", class: "promo-image")
.clearfix
.col-xs-12.col-sm-4.col-lg-2.col-lg-offset-1
  .space
  %p.text-center
    = link_to(image_tag("button_0.jpg"), companies_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_1.jpg"), wedding_toppings_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_2.jpg"), cakes_url(menu: "cupcakes"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_3.jpg"), cakes_url(menu: "tradicionales"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_4.jpg"), subcategory_url(menu: "novios", subcategory: "cupcakes_minitortas"), class: "index-button")
.clearfix
.clear
.space
:javascript
  function cycleImages(){
  var images = $('#carrousel span'),
  now    = images.filter(':visible'),
  next   = now.next().length ? now.next() : images.first(),
  speed  = 1500;
  now.fadeOut(speed);
  next.fadeIn(speed);
  }
  $(function() {
  setInterval(cycleImages, 4000);
  });
