.col-xs-12.col-sm-12
  %h1.text-center{ :style => "color: #98122f; font-weight: 600;" } REMATE ANIVERSARIO
  %h2.text-center{ :style => "color: #98122f; font-weight: 600;" } SÓLO 24 HORAS
.row
  .col-xs-12.col-sm-5.col-sm-offset-1
    = image_tag("remate_1.jpg", class: 'promo-image max-width')
  .col-xs-12.col-sm-5
    = image_tag("remate_2.jpg", class: 'promo-image max-width')
.clearfix
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    %p.text-center{ :style => "color: #98122f; font-size: 1.5em" } *Ambas ofertas estan disponibles desde el 10 hasta el 12 de Febrero, ¡cuando sorprenderemos con una nueva oferta!
.clearfix
.col-xs-12.col-sm-4.col-lg-2.col-lg-offset-1
  .space
  %p.text-center
    = link_to(image_tag("button_0.jpg"), companies_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_1.jpg"), wedding_toppings_url, class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_2.jpg"), cakes_url(menu: "cupcakes"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_3.jpg"), cakes_url(menu: "tradicionales"), class: "index-button")
.col-xs-12.col-sm-4.col-lg-2
  .space
  %p.text-center
    = link_to(image_tag("button_press.jpg"), presses_url, class: "index-button")
.clearfix
.clear
.space
:javascript
  function cycleImages(){
  var images = $('#carrousel span'),
  now    = images.filter(':visible'),
  next   = now.next().length ? now.next() : images.first(),
  speed  = 1500;
  now.fadeOut(speed);
  next.fadeIn(speed);
  }
  $(function() {
  setInterval(cycleImages, 4000);
  });
