.space
/ .col-sm-3.col-sm-offset-1.hidden-xs
/   #carrousel
/     %span.active
/       = image_tag("carrousel_0.png")
/     %span
/       = image_tag("carrousel_1.png")
/     %span
/       = image_tag("carrousel_2.png")
/     %span
/       = image_tag("carrousel_3.png")
/     %span
/       = image_tag("carrousel_4.png")
/     %span
/       = image_tag("carrousel_5.png")
.col-xs-12.col-sm-6
  = image_tag("torta_del_dia conejo de pascua.jpg")
#welcome_info.col-xs-12.col-sm-6
  .space
  %p
    Pastelería Art-Torta se especializa en
    = link_to('tortas decoradas', cakes_url(menu: "decoradas"))
    ,
    = link_to('tortas de novios', cakes_url(menu: "novios"))
    y
    = link_to('cupcakes', cakes_url(menu: "cupcakes"))
    \. Nuestro objetivo es crear en tu torta un modelo único y personalizado. Las grandes Empresas, los canales de televisión y sobre todo la gran cantidad de clientes que nos han elegido durante estos 16 años, nos han convertido en la pastelería de los grandes eventos de nuestro país.
  %p
    Visita la
    = link_to('mayor variedad de tortas', catalog_url)
    que puedas encontrar y disfruta de nuestros
    = link_to('nuevos modelos', catalog_url) + "."
  .col-sm-12.col-md-6
    %p.text-center
      = link_to(image_tag("button_0.jpg"), companies_url, class: "index-button")
    .space
  .col-sm-12.col-md-6
    %p.text-center
      = link_to(image_tag("button_1.jpg"), wedding_toppings_url, class: "index-button")
    .space
.clearfix
.clear
.space
:javascript
  function cycleImages(){
  var images = $('#carrousel span'),
  now    = images.filter(':visible'),
  next   = now.next().length ? now.next() : images.first(),
  speed  = 1500;
  now.fadeOut(speed);
  next.fadeIn(speed);
  }
  $(function() {
  setInterval(cycleImages, 4000);
  });
