= "Estimado/a " + @full_name + ":"
\
= "Se ha generado un despacho para el d&iacute;a " + @date + " en " + @address + " en la comuna " + @province + " con referencias:"
= @references
= "Tambi&eacute;n se han enviado los siguientes datos de contacto:"
= "Tel&eacute;fono: " + @phone
= "Tel&eacute;fono m&oacute;vil: " + @cellphone
Si tiene alguna duda, o desea contactarnos, puede hacerlo por email a info@artorta.cl, o por teléfono a 227353947, 227354193 o 227375164.
Muchas gracias por su preferencia, Art-Torta.
