%p= "Estimado/a " + @full_name + ":"
%p= "Se ha generado un despacho para el día " + @date + " en " + @address + " en la comuna " + @province + " con referencias:"
%p= @references
%p= "También se han enviado los siguientes datos de contacto:"
%p= "Teléfono: " + @phone
%p= "Teléfono móvil: " + @cellphone
%p Si tiene alguna duda, o desea contactarnos, puede hacerlo por email a info@artorta.cl, o por teléfono a 227353947, 227354193 o 227375164.
%p Muchas gracias por su preferencia, Art-Torta.
