= "Nombre: " + @full_name
= "Mail: " + @email
= "Teléfono: " + @phone
= "Teléfono móvil: " + @cellphone
= "Fecha:" + @date
= "Dirección:" + @address + ", " + @province
= "Referencias: " + @references
