%p= "Nombre: " + @full_name
%p= "Email: " + @email
%p= "Teléfono: " + @phone
%p= "Teléfono móvil: " + @cellphone
%p= "Fecha:" + @date
%p= "Dirección:" + @address + ", " + @province
%p= "Referencias: " + @references
