<%= render 'layouts/search_bar' %>
<% if use_scoped_resources? %>
<div class="promos">
  <% Promo.where(realm: current_realm).each do |promo| %>
  <%= link_to(
        image_tag(promo.image.url(:medium), class: 'promo-item__image'),
        promo.category.present? ? cakes_url(category: promo.category.slug) : '#',
        class: 'promo-item__link'
      ) %>
  <% end %>
</div>
<% else %>
<div class="promos">
  <% Promo.all.each do |promo| %>
  <%= link_to(
        image_tag(promo.image.url(:medium), class: 'promo-item__image'),
        promo.category.present? ? cakes_url(category: promo.category.slug) : '#',
        class: 'promo-item__link'
      ) %>
  <% end %>
</div>
<% end %>
<% if decorated_subdomain? %>
<div class="mini-banners">
  <%= link_to(image_tag('button_0.jpg', class: 'mini-banners-item__image'), companies_url, class: 'mini-banners-item__link') %>
  <%= link_to(image_tag('button_1.jpg', class: 'mini-banners-item__image'), wedding_toppings_url, class: 'mini-banners-item__link') %>
  <%= link_to(image_tag('button_2.jpg', class: 'mini-banners-item__image'), cakes_url(category: 'cupcakes'), class: 'mini-banners-item__link') %>
  <%= link_to(image_tag('button_3.jpg', class: 'mini-banners-item__image'), cakes_url(category: 'tradicionales'), class: 'mini-banners-item__link') %>
  <%= link_to(image_tag('button_press.jpg', class: 'mini-banners-item__image'), press_url, class: 'mini-banners-item__link') %>
</div>
<% end %>
