.text-center
  %h1= "Empresas"
  %hr.sep
  - if can? :create, Company
    .space
    .col-xs-12.col-sm-5.col-sm-offset-1
      %span.btn-block= link_to "Nueva torta para Empresas", new_company_url
    .col-xs-12.col-sm-5
      %span.btn-block= link_to("Cerrar Sesión", destroy_user_session_path, method: :delete)
    .clearfix
  - if @companies.total_pages > 1
    .apple_pagination
      = will_paginate @companies, container: false, previous_label: 'Anterior', next_label: 'Siguiente', inner_window: 2, outer_window: 1
  .cakes
    - @companies.each_with_index do |c, index|
      = render partial: 'item', locals: {c: c, index: index}
    = render "layouts/modal"
  .clearfix
  - if @companies.total_pages > 1
    .apple_pagination
      = will_paginate @companies, container: false, previous_label: 'Anterior', next_label: 'Siguiente', inner_window: 2, outer_window: 1
