<h1><%= @title %></h1>
<hr class="sep"/>
<div class="actions">
  <%= link_to 'Tortas Decoradas', cakes_url(menu: 'decoradas'), class: 'btn' %>
  <%= link_to 'Tortas de Novios', cakes_url(menu: 'novios'), class: 'btn' %>
  <%= link_to 'Tortas Tradicionales', cakes_url(menu: 'tradicionales'), class: 'btn' %>
  <%= link_to 'Cupcakes', cakes_url(menu: 'cupcakes'), class: 'btn' %>
  <%= link_to 'Cóctel', cakes_url(menu: 'coctel'), class: 'btn' %>
  <%= link_to 'Postres', cakes_url(menu: 'postres'), class: 'btn' %>
</div>
