<footer class="footer">
  <div class="footer__items">
    <div class="footer__item">
      <h4 class="footer-item__header">Art-Torta</h4>
      <hr class="sep sep--light sep--thin"/>
      <ul>
        <li>
          <%= link_to 'Catálogo', catalog_url %>
        </li>
        <li>
          <%= link_to 'Comprar', buy_url %>
        </li>
        <li>
          <%= link_to 'Despacho', delivery_url %>
        </li>
        <li>
          <%= link_to 'Sabores', flavours_url %>
        </li>
        <li>
          <%= link_to 'Cúpulas', wedding_toppings_url %>
        </li>
        <li>
          <%= link_to 'Empresas', companies_url %>
        </li>
        <li>
          <%= link_to 'Prensa', press_url %>
        </li>
        <li>
          <%= link_to 'Ubicación', location_url %>
        </li>
        <li>
          <%= link_to 'Nosotros', us_url %>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <h4 class="footer-item__header">Contacto</h4>
      <hr class="sep sep--light sep--thin"/>
      <ul>
        <li>Dirección:</li>
        <li>Manzano 551, Recoleta</li>
        <li>E-mail:</li>
        <li>artortachile@gmail.com</li>
        <li>Teléfonos:</li>
        <li>227353947</li>
        <li>+56978093790</li>
      </ul>
    </div>
  </div>
</footer>
